<nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html">
            <i class="fa-solid fa-chart-column"></i> DataInsight
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuMobile">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuMobile">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_home') }}">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_dados') }}">Dados</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_graficoAvancado') }}">Galeria</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_analise') }}">Análises</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_relatorio') }}">Relatórios</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pagina_perfil') }}">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>